<!DOCTYPE html>
<html>
<head>
    <title>Correspondence Notice</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f8;
            padding: 40px;
        }
        .box {
            background: white;
            padding: 25px;
            border-radius: 6px;
            max-width: 600px;
            margin: auto;
        }
        .status {
            font-weight: bold;
            color: green;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>HIS – Official Notice</h2>
    <p><strong>Citizen:</strong> {{ full_name }}</p>
    <p><strong>Plan:</strong> {{ scheme }}</p>
    <p><strong>Status:</strong> <span class="status">{{ status }}</span></p>
    <hr>
    <p>{{ notice }}</p>

    <br>
    <a href="/application-list">⬅ Back to Applications</a>
    
    <br><br>
{% if status not in ['AR_COMPLETED', 'DC_COMPLETED'] %}
    <a href="/download-notice/{{ app_id }}">
        <button>Download Notice (PDF)</button>
    </a>
{% else %}
    <p style="color:red;">Notice not yet generated</p>
{% endif %}


<h2>Eligibility Notice</h2>

<p><strong>Name:</strong> {{ full_name }}</p>
<p><strong>Scheme:</strong> {{ scheme }}</p>
<p><strong>Status:</strong> {{ status }}</p>

<hr>

<p>{{ notice }}</p>

<br>

{% if status in ["ELIGIBLE", "DENIED", "PURCHASE REQUIRED"] %}
    <a href="{{ url_for('download_notice', app_id=request.view_args.app_id) }}">
        <button>Download Notice (PDF)</button>
    </a>
{% else %}
    <p style="color:red;">
        ⚠ Download will be available after Eligibility Determination
    </p>
{% endif %}

</div>

</body>
</html>
